@use "../settings" as *;

.sxcode.is-py {
  .tok-keyword { color: $color-keyword; font-weight: bold; }
  .tok-string { color: $color-string; }
  .tok-comment { color: $color-comment; font-style: italic; }
  .tok-number { color: $color-number; }
  .tok-operator { color: $color-punc; }
  .tok-func { color: $color-func; }
  .tok-class { color: $color-tag; font-weight: bold; }
  .tok-decorator { color: lighten($color-func, 10%); }
  .tok-builtin { color: $color-attr; }
  .tok-boolean { color: $color-keyword; }
  .tok-none { color: $color-muted; }
  .tok-punc { color: $color-punc; }
  .tok-escape { color: lighten($color-string, 15%); }
}